version: 2.1
jobs:
  configure_infrastructure:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["e5:e5:b2:be:96:04:a5:43:8a:e0:a5:0a:81:ae:82:f3"] # You can get this ID in the section where you registered the SSH Key
      - run:
          name: Install dependencies
          command: |
            apk add --update ansible # install the dependencies needed for your playbook
      - run:
          name: Configure server
          command: |
            ansible-playbook -i inventory.txt playbook.yml

  smoke_test:
    docker:
      image: alpine:latest
    steps:
      - checkout
      - run: apk add --update curl
      - run:
        name: Smoke Test
        command: |
          URL="https://mekiotechdigital.com/"
          if curl -s --head ${URL}
            then return 0
          else
            return 1
          fi

workflows:
  new_deployment_workflow:
    jobs:
      - configure_infrastructure
      - smoke_test:
          requires:
            - configure_infrastructure

