version: 2.1
jobs:
  write_to_file:
    docker:
      - image: alpine/latest
    steps:
      - run:
          command:
            echo Running test
            set +e
            mkdir -p /checkers
            make test
  
  # configure_infrastructure:
  #   docker:
  #     - image: python:3.7-alpine3.11
  #   steps:
  #     - checkout
  #     - add_ssh_keys:
  #         fingerprints: ["34:5d:61:5e:48:c5:3a:b5:f3:87:c9:4f:46:19:13:99"] # You can get this ID in the section where you registered the SSH Key
  #     - run:
  #         name: Install dependencies
  #         command: |
  #           apk add --update ansible # install the dependencies needed for your playbook
  #     - run:
  #         name: Configure server
  #         command: |
  #           ansible-playbook -i inventory.txt playbook.yml
  smoke_test:
    docker:
      - image: alpine:latest
    steps:
      - checkout
      - run: apk add --update curl
      - run:
          name: Smoke Test
          command: |
            URL="https://mekiotechdigital.com/"
            if curl -s --head ${URL} # test if blog.udacity. com exists
            then
              return 0
            else
              return 1
            fi

workflows:
  version: 2
  new_deployment_workflow:
    jobs:
      # - configure_infrastructure
      - write_to_file
      # - smoke_test
          # requires:
          #   - configure_infrastructure

